<h1>Question</h1>
<%= @program.program %>
<br/>
<% @codes.each do |c|  %>

	<% if c.question_id == @program.id %>
		<h1> Solution to it </h1>
		<%= c.solution %>
	<% end %>
<% end %>
<p>Owner</p>
<%= @program.user.email %><br/>
<%= link_to 'solution' , code_path(@program)  %>||<%= link_to 'add solution' , new_code_path(@program) %>